/*   
Theme Name: Agiliza
Author: Jorge Walder
*/


/* FIX WORDPRESS ADMIN BAR */

@media screen and (min-width: 992px) {
    .admin-bar .navbar.nav-scroll {
        top: -68px;
    }
}

.navbar.nav-scroll h1 {
    color: #444;
}

.navbar h1 {
    font-size: 35px;
    margin: 0;
}


/* LOGO */

.logo {
    width: 258px;
}

.nav-scroll .logo {
    padding: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f58634
}

.section-title.style2:after {
    background: rgb(246, 161, 163);
}

.portfolio .filtering span:hover {
    border-color: #f58634;
    background: #f58634;
    color: #fff;
}

.portfolio .filtering .active {
    border-color: #f58634;
    background: #f58634;
    color: #fff;
}

.btn.white {
    background: #fff;
    border: 2px solid #f58634;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
    color: #f58634;
}

.btn.white:hover,
.btn.white:active {
    background: #f58634;
    color: #fff;
    border-color: #f58634;
}

.bg-black {
    background-color: #f58634;
}

.text-extra-dark-gray {
    color: #f58634;
}

.navbar.nav-scroll .navbar-nav .nav-link:hover,
.navbar.nav-scroll .navbar-nav .nav-link.active {
    color: #f58634;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #f58634;
}

.orange svg {
    fill: #f58634!important;
}

.bg-black h3{
    color: #ffffff;
}

.bg-black input, textarea, select {
    border: 1px solid #ffffff;
}

.ccw_plugin .style-4.chip {
    background-color: #ffffff!important;
padding-left: 25px;
padding-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 16px;
}

.wrap-whatsapp{
    margin-top: 40px;
}

div.wpcf7 .ajax-loader {
    display: block;
    margin: auto;
}

.btn.black:focus {
    background: #fff;
    color: #000;
    border-color: #232323;
}